# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

.db


# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
mlflow.db
02-experiment_tracking/mlruns/0/meta.yaml
02-experiment_tracking/mlruns/828039527291222165/meta.yaml
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/meta.yaml
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/artifacts/estimator.html
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/inputs/0c90119643ee1da6688d98128196a6cb/meta.yaml
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/inputs/78de69388a5caae0f803720992451901/meta.yaml
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/metrics/training_mean_absolute_error
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/metrics/training_mean_squared_error
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/metrics/training_r2_score
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/metrics/training_root_mean_squared_error
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/metrics/training_score
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/outputs/m-3cec6ebcafbf4835a93c67742f0a3307/meta.yaml
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/bootstrap
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/ccp_alpha
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/criterion
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/max_depth
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/max_features
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/max_leaf_nodes
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/max_samples
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/min_impurity_decrease
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/min_samples_leaf
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/min_samples_split
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/min_weight_fraction_leaf
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/monotonic_cst
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/n_estimators
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/n_jobs
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/oob_score
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/random_state
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/verbose
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/params/warm_start
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/tags/estimator_class
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/tags/estimator_name
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/tags/mlflow.runName
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/tags/mlflow.source.git.commit
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/tags/mlflow.source.name
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/tags/mlflow.source.type
02-experiment_tracking/mlruns/828039527291222165/05bfc42bb5094af9a41738f257e57d0c/tags/mlflow.user
02-experiment_tracking/mlruns/828039527291222165/datasets/3756b259a0a7daf7cd6a309e7f2ed571/meta.yaml
02-experiment_tracking/mlruns/828039527291222165/datasets/dfa5f49f15f67b05812654fc08ae2ce9/meta.yaml
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/meta.yaml
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/artifacts/conda.yaml
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/artifacts/MLmodel
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/artifacts/model.pkl
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/artifacts/python_env.yaml
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/artifacts/requirements.txt
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/metrics/training_mean_absolute_error
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/metrics/training_mean_squared_error
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/metrics/training_r2_score
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/metrics/training_root_mean_squared_error
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/metrics/training_score
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/bootstrap
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/ccp_alpha
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/criterion
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/max_depth
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/max_features
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/max_leaf_nodes
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/max_samples
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/min_impurity_decrease
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/min_samples_leaf
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/min_samples_split
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/min_weight_fraction_leaf
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/monotonic_cst
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/n_estimators
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/n_jobs
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/oob_score
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/random_state
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/verbose
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/params/warm_start
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/tags/mlflow.source.git.commit
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/tags/mlflow.source.name
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/tags/mlflow.source.type
02-experiment_tracking/mlruns/828039527291222165/models/m-3cec6ebcafbf4835a93c67742f0a3307/tags/mlflow.user
02-experiment_tracking/models/lin_reg.bin
02-experiment_tracking/output/dv.pkl
02-experiment_tracking/output/test.pkl
02-experiment_tracking/output/train.pkl
02-experiment_tracking/output/val.pkl
02-experiment_tracking/taxi_dataset/green_tripdata_2023-01.parquet
02-experiment_tracking/taxi_dataset/green_tripdata_2023-02.parquet
02-experiment_tracking/taxi_dataset/green_tripdata_2023-03.parquet
artifacts/2/1369e3fe43ed4a609c4296cf2d117a1c/artifacts/estimator.html
artifacts/2/138043145dfa41d585b715a5834a190e/artifacts/estimator.html
artifacts/2/17e77af71f694bfcbb7f5bad12134929/artifacts/estimator.html
artifacts/2/1c5a9cb3f01748f3ad95128f5d9824da/artifacts/estimator.html
artifacts/2/216bd9dc2e254872854f7b13ea76cd85/artifacts/estimator.html
artifacts/2/2c70c6d7e6334af7aa77ea3309a5219c/artifacts/estimator.html
artifacts/2/3e8ea02cec29428689742eecf55aa8b0/artifacts/estimator.html
artifacts/2/4760df97bbc64e5499168695ce7c99f3/artifacts/estimator.html
artifacts/2/4880306a4e884c66a4e5378cf2726c41/artifacts/estimator.html
artifacts/2/48a856107e1c46d890b92e30099af944/artifacts/estimator.html
artifacts/2/4a5f3dde977446539645bbe4d1c2a8bb/artifacts/estimator.html
artifacts/2/6ca8557c0dea41f2ac381d2e5fa9ae1a/artifacts/estimator.html
artifacts/2/88d022ac5b0f4654961229cc1d7f653c/artifacts/estimator.html
artifacts/2/8b263aa73964446a88f0bb8f131e984c/artifacts/estimator.html
artifacts/2/bf8f583242644b188c0a788c62007375/artifacts/estimator.html
artifacts/2/df267e25ccae4e02a4523ab23117bb1e/artifacts/estimator.html
artifacts/2/e3bb1d873e214b668841d91c7a0f5e75/artifacts/estimator.html
artifacts/2/efcdebf8a83746448478799a1c04024b/artifacts/estimator.html
artifacts/2/f82aa979bac342a09213b2aee907f363/artifacts/estimator.html
artifacts/2/fd9d0cb9080e4fcebfffa3883c4b5ffe/artifacts/estimator.html
artifacts/2/models/m-0d1b29efc78941a0b53a0e97fd96b335/artifacts/conda.yaml
artifacts/2/models/m-0d1b29efc78941a0b53a0e97fd96b335/artifacts/MLmodel
artifacts/2/models/m-0d1b29efc78941a0b53a0e97fd96b335/artifacts/model.pkl
artifacts/2/models/m-0d1b29efc78941a0b53a0e97fd96b335/artifacts/python_env.yaml
artifacts/2/models/m-0d1b29efc78941a0b53a0e97fd96b335/artifacts/requirements.txt
artifacts/2/models/m-32362d6cac06435d88ceac2a30403b0f/artifacts/conda.yaml
artifacts/2/models/m-32362d6cac06435d88ceac2a30403b0f/artifacts/MLmodel
artifacts/2/models/m-32362d6cac06435d88ceac2a30403b0f/artifacts/model.pkl
artifacts/2/models/m-32362d6cac06435d88ceac2a30403b0f/artifacts/python_env.yaml
artifacts/2/models/m-32362d6cac06435d88ceac2a30403b0f/artifacts/requirements.txt
artifacts/2/models/m-33a8792b5c794997a535c347e1e59c90/artifacts/conda.yaml
artifacts/2/models/m-33a8792b5c794997a535c347e1e59c90/artifacts/MLmodel
artifacts/2/models/m-33a8792b5c794997a535c347e1e59c90/artifacts/model.pkl
artifacts/2/models/m-33a8792b5c794997a535c347e1e59c90/artifacts/python_env.yaml
artifacts/2/models/m-33a8792b5c794997a535c347e1e59c90/artifacts/requirements.txt
artifacts/2/models/m-4a2731f74b7e4010a7afd8c030c469ff/artifacts/conda.yaml
artifacts/2/models/m-4a2731f74b7e4010a7afd8c030c469ff/artifacts/MLmodel
artifacts/2/models/m-4a2731f74b7e4010a7afd8c030c469ff/artifacts/model.pkl
artifacts/2/models/m-4a2731f74b7e4010a7afd8c030c469ff/artifacts/python_env.yaml
artifacts/2/models/m-4a2731f74b7e4010a7afd8c030c469ff/artifacts/requirements.txt
artifacts/2/models/m-52bf9f5b144a4eeb840213d479264fa4/artifacts/conda.yaml
artifacts/2/models/m-52bf9f5b144a4eeb840213d479264fa4/artifacts/MLmodel
artifacts/2/models/m-52bf9f5b144a4eeb840213d479264fa4/artifacts/model.pkl
artifacts/2/models/m-52bf9f5b144a4eeb840213d479264fa4/artifacts/python_env.yaml
artifacts/2/models/m-52bf9f5b144a4eeb840213d479264fa4/artifacts/requirements.txt
artifacts/2/models/m-5c79c6d72bf94c3d97925f8f950c1752/artifacts/conda.yaml
artifacts/2/models/m-5c79c6d72bf94c3d97925f8f950c1752/artifacts/MLmodel
artifacts/2/models/m-5c79c6d72bf94c3d97925f8f950c1752/artifacts/model.pkl
artifacts/2/models/m-5c79c6d72bf94c3d97925f8f950c1752/artifacts/python_env.yaml
artifacts/2/models/m-5c79c6d72bf94c3d97925f8f950c1752/artifacts/requirements.txt
artifacts/2/models/m-5e14cc14e4134e3c83ff6c023d28dbb3/artifacts/conda.yaml
artifacts/2/models/m-5e14cc14e4134e3c83ff6c023d28dbb3/artifacts/MLmodel
artifacts/2/models/m-5e14cc14e4134e3c83ff6c023d28dbb3/artifacts/model.pkl
artifacts/2/models/m-5e14cc14e4134e3c83ff6c023d28dbb3/artifacts/python_env.yaml
artifacts/2/models/m-5e14cc14e4134e3c83ff6c023d28dbb3/artifacts/requirements.txt
artifacts/2/models/m-67aa401adcae48bfb8a7a272149f6cae/artifacts/conda.yaml
artifacts/2/models/m-67aa401adcae48bfb8a7a272149f6cae/artifacts/MLmodel
artifacts/2/models/m-67aa401adcae48bfb8a7a272149f6cae/artifacts/model.pkl
artifacts/2/models/m-67aa401adcae48bfb8a7a272149f6cae/artifacts/python_env.yaml
artifacts/2/models/m-67aa401adcae48bfb8a7a272149f6cae/artifacts/requirements.txt
artifacts/2/models/m-72877edcb7d74c0c8389a8b52a94bf97/artifacts/conda.yaml
artifacts/2/models/m-72877edcb7d74c0c8389a8b52a94bf97/artifacts/MLmodel
artifacts/2/models/m-72877edcb7d74c0c8389a8b52a94bf97/artifacts/model.pkl
artifacts/2/models/m-72877edcb7d74c0c8389a8b52a94bf97/artifacts/python_env.yaml
artifacts/2/models/m-72877edcb7d74c0c8389a8b52a94bf97/artifacts/requirements.txt
artifacts/2/models/m-7ce1cd2850384bbf8f686f24a07351f7/artifacts/conda.yaml
artifacts/2/models/m-7ce1cd2850384bbf8f686f24a07351f7/artifacts/MLmodel
artifacts/2/models/m-7ce1cd2850384bbf8f686f24a07351f7/artifacts/model.pkl
artifacts/2/models/m-7ce1cd2850384bbf8f686f24a07351f7/artifacts/python_env.yaml
artifacts/2/models/m-7ce1cd2850384bbf8f686f24a07351f7/artifacts/requirements.txt
artifacts/2/models/m-822e9b54d1d1420cb2f2bdf92bc2a1b1/artifacts/conda.yaml
artifacts/2/models/m-822e9b54d1d1420cb2f2bdf92bc2a1b1/artifacts/MLmodel
artifacts/2/models/m-822e9b54d1d1420cb2f2bdf92bc2a1b1/artifacts/model.pkl
artifacts/2/models/m-822e9b54d1d1420cb2f2bdf92bc2a1b1/artifacts/python_env.yaml
artifacts/2/models/m-822e9b54d1d1420cb2f2bdf92bc2a1b1/artifacts/requirements.txt
artifacts/2/models/m-85241f984567415ab46884ce40eba1b0/artifacts/conda.yaml
artifacts/2/models/m-85241f984567415ab46884ce40eba1b0/artifacts/MLmodel
artifacts/2/models/m-85241f984567415ab46884ce40eba1b0/artifacts/model.pkl
artifacts/2/models/m-85241f984567415ab46884ce40eba1b0/artifacts/python_env.yaml
artifacts/2/models/m-85241f984567415ab46884ce40eba1b0/artifacts/requirements.txt
artifacts/2/models/m-9d5b957d133b4f5197d59208e1099a7b/artifacts/conda.yaml
artifacts/2/models/m-9d5b957d133b4f5197d59208e1099a7b/artifacts/MLmodel
artifacts/2/models/m-9d5b957d133b4f5197d59208e1099a7b/artifacts/model.pkl
artifacts/2/models/m-9d5b957d133b4f5197d59208e1099a7b/artifacts/python_env.yaml
artifacts/2/models/m-9d5b957d133b4f5197d59208e1099a7b/artifacts/requirements.txt
artifacts/2/models/m-ace51712590c4008a31bf3f4c55bb166/artifacts/conda.yaml
artifacts/2/models/m-ace51712590c4008a31bf3f4c55bb166/artifacts/MLmodel
artifacts/2/models/m-ace51712590c4008a31bf3f4c55bb166/artifacts/model.pkl
artifacts/2/models/m-ace51712590c4008a31bf3f4c55bb166/artifacts/python_env.yaml
artifacts/2/models/m-ace51712590c4008a31bf3f4c55bb166/artifacts/requirements.txt
artifacts/2/models/m-af881952b5da46f191a4866f9534214f/artifacts/conda.yaml
artifacts/2/models/m-af881952b5da46f191a4866f9534214f/artifacts/MLmodel
artifacts/2/models/m-af881952b5da46f191a4866f9534214f/artifacts/model.pkl
artifacts/2/models/m-af881952b5da46f191a4866f9534214f/artifacts/python_env.yaml
artifacts/2/models/m-af881952b5da46f191a4866f9534214f/artifacts/requirements.txt
artifacts/2/models/m-b059e9a3037c4f4499cf7b9de661b68c/artifacts/conda.yaml
artifacts/2/models/m-b059e9a3037c4f4499cf7b9de661b68c/artifacts/MLmodel
artifacts/2/models/m-b059e9a3037c4f4499cf7b9de661b68c/artifacts/model.pkl
artifacts/2/models/m-b059e9a3037c4f4499cf7b9de661b68c/artifacts/python_env.yaml
artifacts/2/models/m-b059e9a3037c4f4499cf7b9de661b68c/artifacts/requirements.txt
artifacts/2/models/m-d03ff2205054489a9ffda7d0a5e59bdc/artifacts/conda.yaml
artifacts/2/models/m-d03ff2205054489a9ffda7d0a5e59bdc/artifacts/MLmodel
artifacts/2/models/m-d03ff2205054489a9ffda7d0a5e59bdc/artifacts/model.pkl
artifacts/2/models/m-d03ff2205054489a9ffda7d0a5e59bdc/artifacts/python_env.yaml
artifacts/2/models/m-d03ff2205054489a9ffda7d0a5e59bdc/artifacts/requirements.txt
artifacts/2/models/m-d15e02e1892f4e45a85e3390d8911e70/artifacts/conda.yaml
artifacts/2/models/m-d15e02e1892f4e45a85e3390d8911e70/artifacts/MLmodel
artifacts/2/models/m-d15e02e1892f4e45a85e3390d8911e70/artifacts/model.pkl
artifacts/2/models/m-d15e02e1892f4e45a85e3390d8911e70/artifacts/python_env.yaml
artifacts/2/models/m-d15e02e1892f4e45a85e3390d8911e70/artifacts/requirements.txt
artifacts/2/models/m-d6da75ce6b8449ba9260df349210d387/artifacts/conda.yaml
artifacts/2/models/m-d6da75ce6b8449ba9260df349210d387/artifacts/MLmodel
artifacts/2/models/m-d6da75ce6b8449ba9260df349210d387/artifacts/model.pkl
artifacts/2/models/m-d6da75ce6b8449ba9260df349210d387/artifacts/python_env.yaml
artifacts/2/models/m-d6da75ce6b8449ba9260df349210d387/artifacts/requirements.txt
artifacts/2/models/m-e50150d400df464ab9c109b0723a0683/artifacts/conda.yaml
artifacts/2/models/m-e50150d400df464ab9c109b0723a0683/artifacts/MLmodel
artifacts/2/models/m-e50150d400df464ab9c109b0723a0683/artifacts/model.pkl
artifacts/2/models/m-e50150d400df464ab9c109b0723a0683/artifacts/python_env.yaml
artifacts/2/models/m-e50150d400df464ab9c109b0723a0683/artifacts/requirements.txt
